body{
    background-image: url("/pics/stadium2.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
}

.bottom-bar {
  position: fixed;
  bottom: 0px;
}
.flex-container{
    display : flex;
    justify-content: center;
    align-items: stretch; 
}
.flex{
    display: flex;
    height: 400px;
    width: 400px;
    flex-direction: column;
    background-color: rgba(242, 242, 242, 0.5);
}
.flex-item{
    height: 40px;
    margin: 2px;    
    align-items: flex-start;
    text-align: center
}
#title{
    text-shadow: 0px 0px 4px #fff;
    font-weight: bold;
    font-size: 60px;
    height: 100px;
    transition: all 0.2s ease-in-out;
}
#title:hover{
    transform: scale(1.01);
}

input{
    text-align: center;
    background-color:white;
    transition: all 0.2s ease-in-out;
}
input:hover{
    transform: scale(1.01);
}

.container-fluid #main{
    min-height: 200px;
}
#blank{
    height: 100px;
}
.flex-item button{
    font-weight:bold;
    color: white;
    /*background-color: #1a75ff;*/
    background-color: #333;
    width: 250px;
    height: 40px;
    border: none;
}
.flex-item button:hover{
    /*background-color: #005ce6;*/
    background-color: #000;
}

#register a:hover{
    text-shadow: 0px 0px 15px #fff;    
    text-decoration: none;
}
.inputUser{
    width: 250px;
    height: 40px;
}
.name{
    display: inline-block;
    width: 124px;
}
#captchaInput{
    display:inline-block;
    width:97px;
    height:40px;
    position:relative;
    top:-15px;
}