html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: "Lato", sans-serif;
    margin-bottom: 30px;
}
#pageIcon{
    transition: all 0.5s ease-in-out;
}
#pageIcon:hover{
    transform: rotate(360deg);
}
.scaleIcon{
    transition: all 0.5s ease-in-out;
}
.scaleIcon:hover{
    transform: scale(1.2);
}

a {
    transition: 0.5s ease-in-out, 1s;
}
a, a:link, a:visited {
    color: #999999;
}
a:hover {
    transition: 0.7s ease-in-out, 0.5s;
}

.bottom-bar {
    background: #222;
    color: #999;
    font-size: 12px;
    padding: 6px 0;
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 30px;
}
.bottom-bar a {
    margin: 0 10px;
    text-decoration: none !important;
}
.bottom-bar a:hover {
    color: #FFF;
}
.bottom-bar span {
    float: right;
}
.bottom-bar span a {
    margin: 0;
}
.site-text {
    padding: 40px 15px;
    text-align: center;
}
.carousel {
    box-shadow: 0 0 25px #888;
}
.carousel-player {
    min-width: 100%;
    filter: grayscale(50%);
}
.player {
    box-shadow: 0 0 25px #888;
}
.carousel-caption {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}
.sidenav {
    background-color: #FFF;
    height: 100%;
    color: #222;
    font-size: 14px;
    padding: 20px 20px 20px 20px;
}
.sidenav a {
    color: #222;
}
.sidenav a:hover {
    color: #FFF;
    background-color: #222 !important;
}

/*ul.nav a:hover { background-color: #222 !important; }*/

.club {
    width: 40px;
    height: 40px;
    padding: 0px;
}
.nation {
    width: 40px;
    height: 40px;
    padding: 0px;
}

.detail-top-item {
    background-color: #222 !important;
    color: #f1f1f1;
}

/*Player stats color*/

.green-dark {
  background: linear-gradient(to right, #d7ffd4,#d7ffd4 30%,#ffffff 100%);
}

.green-dark span {
  color: #41a03c;
}

.green-light {
  background: linear-gradient(to right, #e2ffe1,#e2ffe1 30%,#ffffff 100%);
}

.green-light span {
  color: #40c938;
}

.orange-dark {
  background: linear-gradient(to right, #f5dab5,#f5dab5 30%,#ffffff 100%);
}

.orange-dark span {
  color: #db8c1d;
}

.orange-light {
  background: linear-gradient(to right, #ffebcd,#ffebcd 30%,#ffffff 100%);
}

.orange-light span {
  color: #f9a730;
}

.red-dark {
  background: linear-gradient(to right, #ffdbda,#ffdbda 30%,#ffffff 100%);
}

.red-dark span {
  color: #dd504c;
}

.price-graph {
  padding-top: 20px;
}

/* Black buttons with extra padding and without rounded borders */

.btn {
    height: 34px;
    margin-top: 0px;
    background-color: #222;
    color: #f1f1f1;
    /*border: none;*/
    border-radius: 0;
    transition: .2s;
}

/* On hover, the color of .btn will transition to white with black text */

.btn:hover, .btn:focus {
    /*border: 1px solid #333;*/
    background-color: #fff;
    color: #000;
}
.horizontal-rule {
    margin: 20px 0;
    border-bottom: 1px solid #dad8de
}
.input-group {
    width: 150px;
    border-radius: 0;
    border-width: thick;
}
.form-control {
    width: 20px;
    border-radius: 0;
    /*border-width: 0px;*/
    border: none;
    /*border-color: #333;*/
}
.form-control:focus {
    border-color: rgba(0, 0, 0, 0);
}

/* Dropdown Button */

.dropbtn {
    background-color: #222;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
}
.leagueBnt {}
.nav-tabs> li> a {
    font-size: 14px;
}
.tab-content {
    padding-top: 50px;
    display: block;
}
.list-group-item {
    border: 0;
    font-size: 24px;
    text-align: left;
}
.list-group-item> active {
    background-color: #222;
}
.overall {
    border-bottom: 10px;
    background-color: #222;
    color: #999;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.leagueMenu {
    background-color: #222;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 150px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
}

/* Links inside the dropdown */

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #333;
    color: white;
    text-decoration: none;
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    background-color: black;
}
input:focus {
    box-shadow: none !important;
}
hr{
    margin-top:5px;
    margin-bottom:5px;
    width:10em;
    border:1px solid #fff;
}
.img-responsive{
    margin: 0 auto;
}

.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #222;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.error
{
  margin: 70px 10px 10px;
}
