<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A website to be used for football player transfers.">
    <meta name="author" content="Dzung Le & Hai Nguyen">

    <title>Global Player Transfer System</title>

    <!-- Bootstrap core CSS -->
    {% include 'templates/bootstrapNjquery.html' %}

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

    <!--navigationBar-->
  <div class="navinsert">
    {% include 'templates/navigationBar.html' %}
  </div>

    <!-- Featured Players -->
    <div style="height:80px">
        <br> </div>


    <div class="container text-center">

        <div class="col-sm-3 player-tab">
            <h1>Héctor Bellerín</h1>
            <img class="img-responsive" src="../pics/bellerin_profile.jpg" alt="bellerin" width="256" height="256" />
            <h3>Right Back Defender</h3>
            <h4><strong>Price: </strong> £18m</h4>
            <button type="button" class="btn btn-default" name="button"><span class="glyphicon glyphicon-shopping-cart"> Purchase</span></button>

        </div>

        <div class="col-sm-9 ">

            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#playerstats">Stats</a></li>
                <li><a data-toggle="tab" href="#playerdetails">Details</a></li>
                <li><a data-toggle="tab" href="#pricegraph">Price Graph</a></li>
                <li><a data-toggle="tab" href="#performance">Performance</a></li>
            </ul>

            <div class="tab-content">
                <div id="performance" class="tab-pane fade">
                  <iframe width="640" height="360" src="https://www.youtube.com/embed/Pe-S0BI2IGQ" allowfullscreen></iframe>
                </div>

                <div id="playerstats" class="tab-pane fade in active">

                  <div class="list-group">
                    <div class="list-group-item active detail-top-item">
                        <strong>Overall</strong>
                        <span class="pull-right">
                            <strong>86</strong>
                        </span>
                    </div>
                    <div class="list-group-item orange-light">Attack<span class="pull-right"><strong>65</strong></span></div>
                    <div class="list-group-item green-dark">Creativity<span class="pull-right"><strong>80</strong></span></div>
                    <div class="list-group-item green-dark">Defense<span class="pull-right"><strong>82</strong></span></div>
                    <div class="list-group-item green-dark">Physical<span class="pull-right"><strong>86</strong></span></div>
                    <div class="list-group-item orange-light">Heading<span class="pull-right"><strong>72</strong></span></div>
                  </div>

                </div>

                <div id="playerdetails" class="tab-pane fade">
                    <div class="list-group">
                        <div class="list-group-item detail-top-item">
                            <strong>Full Name</strong>
                            <span class="pull-right">
                                <strong>Héctor Bellerín Moruno</strong>
                            </span>
                        </div>
                        <div class="list-group-item">Date of Birth <span class="pull-right"><strong>Mar 19, 1995</strong></span></div>
                        <div class="list-group-item">Place of Birth<span class="pull-right"><strong>Badalona <img class="nation" src="../pics/spain.png" alt="Spain" /> </strong></span></div>
                        <div class="list-group-item">Height<span class="pull-right"><strong>1,78m</strong></span></div>
                        <div class="list-group-item">Current Club<span class="pull-right"><strong><img class="club" src="../pics/arsenal.png" alt="Arsenal" /> Arsenal</strong></span></div>
                        <div class="list-group-item">Dominant Foot<span class="pull-right"><strong>Right</strong></span></div>
                    </div>
                </div>


                <div id="pricegraph" class="tab-pane fade">

                  <div class="list-group-item detail-top-item">
                      Current Market Value: 18 Mill. €
                  </div>

                  <div class="content price-graph">
                      <img class="img-responsive" src="../pics/price_bellerin.png" alt="bellerin">
                  </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bottom navbar -->
    {% include '/templates/bottomBar.html' %}

</body>

</html>
