<div class="bottom-bar static-bottom">
  <div class="container">
			<a href="#">Contact</a> |
		    <a href="/PrivacyAndPolicy">Privacy Policy</a>

	    	<span class="hidden-xs"> Made with 
	    		<a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>, by 
	    		<strong>Dzũng Lê</strong> & <strong>Hải Nguyễn</strong>
	    	</span>
  </div>
</div>
