
<canvas id="myCanvas" width="150" height="40" style="border:0px">
Your browser does not support the HTML5 canvas tag.</canvas>

<script>
// setup canvas
var c = document.getElementById("myCanvas");
var ctx = c.getContext("2d");
// Create gradient
var grd = ctx.createLinearGradient(0,0,200,100);
grd.addColorStop(0,"green");
grd.addColorStop(1,"white");
// Fill with gradient
ctx.fillStyle = grd;
ctx.fillRect(0,0,200,200); //startX, startY, endX, endY
// Text
ctx.font = "30px Arial";
ctx.strokeText("captcha",10,30);
// Mask


ctx.moveTo(10,0);
ctx.lineTo(20,30);
ctx.lineTo(60,20);
ctx.lineTo(30,40);
ctx.lineTo(40,10);
ctx.lineTo(50,35);
ctx.lineTo(80,0);

ctx.lineTo(100,10);
ctx.lineTo(70,20);
ctx.lineTo(90,10);
ctx.lineTo(110,0);
ctx.lineTo(120,40);
ctx.lineTo(20,0);
ctx.lineTo(150,10);

ctx.lineTo(20,10);
ctx.lineTo(130,0);
ctx.lineTo(140,30);
ctx.lineTo(10,0);
ctx.lineTo(20,10);
ctx.lineTo(150,0);
ctx.lineTo(10,10);

ctx.lineTo(50,20);
ctx.lineTo(17,0);
ctx.lineTo(50,0);
ctx.lineTo(10,0);
ctx.lineTo(20,10);
ctx.lineTo(0,50);
ctx.lineTo(18,10);

ctx.arc(95,20,20,0,2*Math.PI);
ctx.arc(120,80,40,0,2*Math.PI);
ctx.arc(200,50,20,0,2*Math.PI);
ctx.arc(50,30,30,0,2*Math.PI);

ctx.arc(10,20,50,0,2*Math.PI);
ctx.arc(40,20,50,0,3*Math.PI);
ctx.arc(110,50,60,0,2*Math.PI);
ctx.arc(50,30,30,0,2*Math.PI);

ctx.lineWidth = 2;
ctx.stroke();

</script>