<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A website to be used for football player transfers.">
  <meta name="author" content="Dzung Le & Hai Nguyen">

  <title>Global Player Transfer System</title>

  <!-- Bootstrap core CSS -->
  {% include 'templates/bootstrapNjquery.html' %}

  <link rel="stylesheet" href="/css/style.css">
</head>


<body>
  <!-- Nav bar - Static with search bar -->
  <div class="navinsert">
    {% include 'templates/navigationBar.html' %}
  </div>
  
  <!-- Featured Players -->
  <div> <br> </div>

  <div class="container">

    <div class="site-text">
      <h1>Featured Players</h1>
      <p class="lead">Notable players on the transfer window - They are taking the football world by storm</p>
    </div>

    <!-- Up and coming players carousel -->
    <div id="risingPlayers" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#risingPlayers" data-slide-to="0" class="active"></li>
        <li data-target="#risingPlayers" data-slide-to="1"></li>
        <li data-target="#risingPlayers" data-slide-to="2"></li>
        <li data-target="#risingPlayers" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <a href="/player_lewan">
            <img src="pics/lewan.jpg" class="carousel-player" alt="logo" />
            <div class="carousel-caption">
              <h3><strong>Robert Lewandowski</strong></h3>
              <p> Striker </p>
            </div>
          </a>
        </div>

        <div class="item">
          <a href="/player_ozil"><img src="pics/ozil.jpg" class="carousel-player" alt="logo" />
            <div class="carousel-caption">
              <h3><strong>Mesut Özil</strong></h3>
              <p> Midfielder </p>
            </div>
          </a>
        </div>

        <div class="item">
          <a href="/player_neuer">  <img src="pics/neuer.jpg" class="carousel-player" alt="logo" />
            <div class="carousel-caption">
              <h3><strong>Manuel Neuer</strong></h3>
              <p> Goalkeeper </p>
            </div>
          </a>
        </div>

        <div class="item">
          <a href="/player_pogba"><img src="pics/pogba.jpg" class="carousel-player" alt="logo" />
          <div class="carousel-caption">
            <h3><strong>Paul Pogba</strong></h3>
            <p> Midfielder </p>
          </div></a>
        </div>

      </div>

      <!-- Controls -->
      <a href="#risingPlayers" class="left carousel-control" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a href="#risingPlayers" class="right carousel-control" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>

    <div class="row">

      <div class="site-text">
        <h1>Upcoming Players</h1>
        <p class="lead">Watch out for these players - They are going to rock the football world.</p>
      </div>

      <div class="col-sm-4 text-center">
        <h3><strong>Steven Gerrard</strong></h3>
        <p><strong>Midfielder</strong></p>
        <a href="/player_gerrard">
          <img src="pics/gerrard.jpg" class="img-thumbnail player" alt="Steven Gerrard"/>
        </a>
          <h4>RATING: 87</h4>
          <img class="club" src="pics/lagalaxy.png" alt="" />
          <img class="nation" src="pics/eng.png" alt="" /> <br>
          <strong>Positions: </strong> CM, CAM <br>
          <strong>Price: </strong> £1.49m
      </div>


      <div class="col-sm-4 text-center">
        <h3><strong>Hector Bellerin</strong></h3>
        <p><strong>Defender</strong></p>
        <a href="/player_bellerin">
          <img src="pics/bellerin.jpg" class="img-thumbnail player" alt="Hector Bellerin"/>
        </a>
          <h4>RATING: 86</h4>
          <img class="club" src="pics/arsenal.png" alt="" />
          <img class="nation" src="pics/spain.png" alt="" /> <br>
          <strong>Positions: </strong> RB <br>
          <strong>Price: </strong> £15.30m
      </div>

      <div class="col-sm-4 text-center">
        <h3><strong>G.Buffon</strong></h3>
        <p><strong>Goalkeeper</strong></p>
        <a href="/player_buffon">
          <img src="pics/buffon.jpg" class="img-thumbnail player" alt="Gianluigi Buffon"/>
        </a>
          <h4>RATING: 93</h4>
          <img class="club" src="pics/juventus.png" alt="" />
          <img class="nation" src="pics/italy.png" alt="" /> <br>
          <strong>Positions: </strong> GK <br>
          <strong>Price: </strong> £1.70m
      </div>

    </div>
  </div>

    <!-- Bottom navbar -->
    {% include 'templates/bottomBar.html' %}

</body>

</html>
