<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A website to be used for football player transfers.">
    <meta name="author" content="Dzung Le & Hai Nguyen">

    <title>Global Player Transfer System</title>

    <!-- Bootstrap core CSS -->
    {% include 'templates/bootstrapNjquery.html' %}

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
</head>


<body>
  <!-- Nav bar - Static with search bar -->
  <div class="navinsert">
    {% include 'templates/navigationBar.html' %}
  </div>
  
    <div class="container-fluid" id="main">
        <div class="row-hidden-sm" id="blank"></div>
        <div class="flex-container">
            <div class="flex">
                <div class="flex-item" id="title">Login</div>

                <div class="flex-item">
                    <input type="text" class="inputUser" placeholder="User Name or Email">
                </div>
                <div class="flex-item">
                    <input type="password" class="inputUser" placeholder="Password">
                </div>
                <br>
                <div class="flex-item">
                    <form action="/">
                        <button>Signin</button>
                    </form>
                </div>
                <br>
                <div class="flex-item" id="register">
                    <a href="/Register" style="color:black">Not registered?</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bottom navbar -->
    {% include 'templates/bottomBar.html' %}

</body>
