
<link rel="stylesheet" href="/css/style.css">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<nav id="navigationBar" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapseNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img id="pageIcon" src="pics/football.png" height="50" alt="ball">
      <a class="navbar-brand 
      hidden-sm hidden-xs " href="/">Global Player Transfer System</a>
      <a class="navbar-brand hidden-lg hidden-md " href="/">GPTS</a>
    </div>

    <div class="collapse navbar-collapse" id="collapseNavbar">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="">League <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Premier League</a></li>
            <li><a href="#">La Liga</a></li>
            <li><a href="#">Bundes Liga</a></li>
            <li><a href="#">Others</a></li>
          </ul>
        </li>
        <li><a href="/Players">Player list</a></li>
        <li><a href="/Register"><span class="scaleIcon glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/Login"><span class="scaleIcon glyphicon glyphicon-log-in"></span> Login</a></li>
         <li><a href=""><span class="scaleIcon glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
        <li>
          <form class="navbar-form">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                <button type="submit" class="btn ">
                  <span class="scaleIcon glyphicon glyphicon-search"></span>
                </button>
                </span>
              </div>
            </form>
        </li>
      </ul>
    </div>
  </div>
</nav>