<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A website to be used for football player transfers.">
  <meta name="author" content="Dzung Le & Hai Nguyen">

  <title>Global Player Transfer System</title>


  <!-- Bootstrap core CSS -->
  {% include 'templates/bootstrapNjquery.html' %}

  <link rel="stylesheet" href="/css/style.css">

  <style type="text/css">
    .nation {
      height: 40px;
    }

    .club {
      height: 30px;
    }
  </style>

</head>

<body>

  <!--navigationBar-->
  <div class="navinsert">
    {% include 'templates/navigationBar.html' %}
  </div>

  <!-- Featured Players -->
  <div style="height:80px"> <br> </div>

  <div class="container">
    <!-- Side navigation bar -->
    <div class="row content">
      <div class="col-sm-3">

        <!-- Search bar -->
        <div class="input-group" style="width:200px;position:relative;left:10px">
          <input type="text" class="form-control" placeholder="Search for player">
          <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>

          </button>
          </span>
        </div>

        <ul class="nav nav-pills nav-stacked sidenav">
          <li>
            <h3>Select by category</h3></li>
          <li><a href="#league">League</a></li>
          <li><a href="#position">Position</a></li>
          <li><a href="#nationality">Nationality</a></li>
          <li><a href="#price">Price</a></li>
        </ul> <br>


      </div>

      <div class="col-sm-9">

        <h1 class="text-center">Featured Players</h1>

        <div class="horizontal-rule"></div>

        { %for player in players %}

        <div class="col-sm-3 text-center">
          <h3><strong>{{ player.displayName }}</strong></h3>
          <!-- <p><strong>{{ player.position }}</strong></p> -->
          <!-- <a href="/{{ player.pob }}"> -->
          <img src={{ player.image }} class="img-thumbnail player" alt="{{ player.displayName}}"/>
          </a>
            <h4>{{ player.stat }}</h4>
            <!-- <img class="club" src="pics/lagalaxy.png" alt="" /> -->
            <!-- <img class="nation" src="pics/eng.png" alt="" /> <br> -->
            <strong>Positions: </strong> {{ player.position }} <br>
            <strong>Price: </strong> £ {{ player.price }}
        </div>

        { % endfor % }

      </div>

    </div>



  </div>

<!-- Bottom navbar -->
{% include 'templates/bottomBar.html' %}


  </body>
</html>
