<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A website to be used for football player transfers.">
  <meta name="author" content="Dzung Le & Hai Nguyen">

  <title>Privacy Policy - Global Player Transfer System</title>

  <!-- Bootstrap core CSS -->
  {% include 'templates/bootstrapNjquery.html' %}

  <link rel="stylesheet" href="/css/style.css">

  <style type="text/css">
  .bottom-bar {
    position: fixed;
    bottom: 0px;
  }
  </style>
</head>
<body>
<!--navigationBar-->
<div class="navinsert">
  {% include 'templates/navigationBar.html' %}
</div>

<div class="horizontal-rule"></div>

<div class="container text-justified content">


<!-- Privacy Policy -->
<h1><strong>Privacy Policy</strong></h1>
<h2><strong>Last updated:</strong> 21/7/2016 <br></h2>

<div class="horizontal-rule"></div>
<div style="column-count:2;-webkit-column-count: 2;-moz-column-count: 2">
<strong>Global Player Transfer System</strong> ("us", "we", or "our") operates https://global-player-transfer-system.appspot.com/ (the "Site"). This page informs you of our policies regarding the collection, use and disclosure of Personal Information we receive from users of the Site.
We use your Personal Information only for providing and improving the Site. By using the Site, you agree to the collection and use of information in accordance with this policy.
Information Collection And Use
While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to your name ("Personal Information").
</div>

<div class="horizontal-rule"></div>

<strong>Log Data</strong> <br>
<div style="column-count:2;-webkit-column-count: 2;-moz-column-count: 2">
Like many site operators, we collect information that your browser sends whenever you visit our Site ("Log Data").
This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Site that you visit, the time and date of your visit, the time spent on those pages and other statistics.
In addition, we may use third party services such as Google Analytics that collect, monitor and analyze this ...
Communications
We may use your Personal Information to contact you with newsletters, marketing or promotional materials and other information that ...
</div>
<div class="horizontal-rule"></div>

<strong>Security</strong> <br>
<div style="column-count:2;-webkit-column-count: 2;-moz-column-count: 2">
The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.
Changes To This Privacy Policy
This Privacy Policy is effective as of ( add date) and will remain in effect except with respect to any changes in its provisions in the future, which will be in effect immediately after being posted on this page.
We reserve the right to update or change our Privacy Policy at any time and you should check this Privacy Policy periodically. Your continued use of the Service after we post any modifications to the Privacy Policy on this page will constitute your acknowledgment of the modifications and your consent to abide and be bound by the modified Privacy Policy.
If we make any material changes to this Privacy Policy, we will notify you either through the email address you have provided us, or by placing a prominent notice on our website.
</div>

<div class="horizontal-rule"></div>

<strong>Contact Us</strong> <br>
If you have any questions about this Privacy Policy, please contact us.

<div class="horizontal-rule"></div>

</div>

<br>

<!-- Bottom navbar -->
{% include 'templates/bottomBar.html' %}

  </body>
  </html>
