<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A website to be used for football player transfers.">
    <meta name="author" content="Dzung Le & Hai Nguyen">

    <title>Global Player Transfer System</title>

    <!-- Bootstrap core CSS -->
    {% include 'templates/bootstrapNjquery.html' %}

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
    

</head>
<body>
    <!--navigationBar-->
    <div class="navinsert">
        {% include 'templates/navigationBar.html' %}
    </div>

    <div class="container-fluid" id="main">
        <div class="row-hidden-sm" id="blank"></div>
        <div class="flex-container">
            <div class="flex">
                <div class="flex-item" id="title">Register</div>
                
                <div class="flex-item " >
                    <input class="inputUser name" type="text" placeholder="First name">                    
                    <input class="inputUser name" type="text" placeholder="Last name">                    
                </div>
                <div class="flex-item " >
                    <input class="inputUser" type="text" placeholder="Email">                    
                </div>
                <div class="flex-item" >
                    <input class="inputUser" type="password" placeholder="Password">
                </div>
                <div class="flex-item">
                    <input class="inputUser" type="password" placeholder="Retype Password">
                </div>
                
                <hr/> 

                <div class="flex-item">
                    <div style="display:inline-block">{% include 'templates/captcha.html' %}</div>
                    <input id="captchaInput" type="text" placeholder="Captcha">
                </div>
                <div class="flex-item">
                    <form action="/">
                        <button>Register</button>
                    </form> 
                </div>
            </div>
        </div>
    </div>
        
    <!-- Bottom navbar -->
    {% include 'templates/bottomBar.html' %}

</body>
